{% extends "blog/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1>Our projects</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, quibusdam?
Sapiente aliquid tenetur aliquam impedit illo facilis consectetur, cum a?
At perferendis cupiditate assumenda quae temporibus tenetur iste repellat officia.
Odit, quasi facilis? Molestiae ullam doloremque hic, enim rerum quae.
Nostrum doloremque odio eaque! Quas molestiae tenetur vitae dolore non.
Inventore nesciunt possimus ipsa officiis. Omnis consectetur explicabo beatae dicta.
Quae pariatur et tenetur eaque cupiditate harum nulla repudiandae unde!
Aspernatur nemo enim sapiente suscipit non quod, minima voluptatum quisquam.
Ex, incidunt hic. Atque, minima sit vel architecto a quae.
Saepe, magnam dolor debitis ullam incidunt quasi dignissimos nesciunt dicta.git</p>
<p>Fill out the form below to get in touch.</p>

<form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 
{% endblock %}